<p id="notice"><%= notice %></p>
   <img src="/<%=@textbook.image%>" width = 200 height = 250 >
<p>
  <strong>Name:</strong>
  <%= @textbook.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>Publications:</strong>
  <%= @textbook.publications %>
</p>

<button type="button" class="btn btn-secondary">
<a href="<%=@textbook.dlink%>">Download</a></button>


<button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_textbook_path(@textbook) %></button>
<button type="button" class="btn btn-secondary"><%= link_to 'Back', textbooks_path %></button>
