<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @textbook.name %>
</p>

<p>
  <strong>Image:</strong>
  <%=image_tag(@textbook.image ,:width => 100, :height => 150, :crop => :fill) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>Publications:</strong>
  <%= @textbook.publications %>
</p>
<button type="button" class="btn btn-secondary" ><%= link_to @textbook.dlink%></button>

<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
