<p id="notice"><%= notice %></p>
<div class="col-sm-2 sidenav-dark ">
  <span class="border border-dark"></span>
<%= form_tag students_path, :method => :get do %>
          <!-- Search Widget -->
          <div class="card my-3">
            <div class="card-body">
              <div class="input-group">
                <h4 class="card-header">Search</h4>
            <div class="card-body">
              <div class="input-group">
                <%= text_field_tag :query, params[:query],class: "form-control mr-sm-2", id: "auto_complete", :autocomplete => "on" ,:placeholder => "Search for..."%>
                <span class="input-group-btn">
                  <%= submit_tag "Search" ,class:"btn btn-secondary btn-lg",id:"bu"%>
                </span>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <hr size="30" noshade="black">
            <h4 class="card-header">Categories</h4>
            <div class="card-body">
              <div class="row">
                <ul class="list-unstyled mb-0">
                    <li><div id="facets">
  <h3><u><b>Department</b></u></h3>
  <hr>
    <ul class="list-group">
          <% for row in @search.facet(:dept).rows%>
          
              <li class="group" style="list-style-type: none"><input type="checkbox" class="groups" name="department" value="<%= row.value %>" <%= params[:department] == row.value ? "checked" : "" %>> <%= row.value %> (<%= row.count %>)<hr></li>
          <% end %>

        </ul>
         <p id="load-more"><font size="2"><b>Load More..</b></font></p>
    </div><hr>
                                         </li>
                    <li> <div id="facets">
                      <h3><u><b>Year of Admission</b></u></h3>
  <hr>
    <ul class="list-group">
          <% for row in @search.facet(:year_admission).rows%>
          
              <li class="gro" style="list-style-type: none"><input type="checkbox" class="groups" name="year_of_admission" value="<%= row.value %>" <%= params[:year_of_admission] == row.value ? "checked" : "" %>> <%= row.value %> (<%= row.count %>)<hr></li>
          <% end %>

        </ul>
         <p id="load-more2"><font size="2"><b>Load More..</b></font></p>
    </div><hr>
                                         </li>
                    <li> <div id="facets">

                      <h3><u><b>Year of Completion</b></u></h3>
  <hr>
    <ul class="list-group">
          <% for row in @search.facet(:year_completion).rows%>
          
              <li class="grop" style="list-style-type: none"><input type="checkbox" class="groups" name="year_of_completion" value="<%= row.value %>" <%= params[:year_of_completion] == row.value ? "checked" : "" %>> <%= row.value %> (<%= row.count %>)<hr></li>
          <% end %>

        </ul>
         <p id="load-more1"><font size="2"><b>Load More..</b></font></p>
    </div><hr>
                                         </li>
                    <li> <div id="facets"></div></li></ul></div>
                      <% end %>
</div></div></div></div></div></div>

<div class="col-sm-10">
            
<h1>Students</h1>
 <%= link_to 'New Student', new_student_path %>
        <div class="row">
 

          <!-- Blog Entries Column -->
          <div class="col-sm-10">
            <div class="card-deck mb-3 text-center">
            <%if params[:query].nil?%>
           <%= paginate @studentss %>
           

            <% if @stu.count > 0 %>
      <h4> <%= @total %> students found.</h4>
      

 <% @students.each do |student| %>
  
        <div class="col-lg-4 col-sm-4 text-center mb-2">
       <div class="jumbotron">   
<img src="/<%=student.Image%>" width = 200 height = 200 class ="img-circle">
        <h3><%=link_to student.first_name, student %><br>
<%= student.last_name %><br>
            <small><%= student.admission_number %></small>
          </h3>
<button type="button" class="btn btn-secondary"> <%=link_to 'Edit', edit_student_path(student) %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></button>
   </div></div>
 <% end %>
 </div></div>
        <% else %>
            <h3>No results found.</h3>
        <% end %>
  <%= paginate @studentss %>
   </div></div></div></div><%else%>
 <%= paginate @stu %>
<% if @stu.count > 0 %>
      <h4> <%= @total %> students found.</h4>
<% @students.each do |student| %>
      
        <div class="col-lg-4 col-sm-4 text-center mb-4">
          <div class="jumbotron">  
<img src="/<%=student.Image%>" width = 200 height = 200 class ="img-circle">
        <h3><%=link_to student.first_name, student %><br>
<%= student.last_name %><br>
            <small><%= student.admission_number %></small>
          </h3>
<button type="button" class="btn btn-secondary"> <%=link_to 'Edit', edit_student_path(student) %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></button></div></div>
   <br><br>

 <% end %>
        <% else %>
            <h3>No results found.</h3>
        <% end %><br><br>
<%= paginate @stu %> </div></div></div></div><br><br><br><br>
   <% end %>

                      <script type="text/javascript">
var $grou= $(".group").slice(0,4).hide();

$("#load-more").click(function() {



     $grou.toggle(':hidden').addClass('active');
}
);

var $grop=$(".grop").slice(0, 1).hide();
$("#load-more1").click(function() {

     $grop.toggle(':hidden').addClass('active');

    
}
);
var $gro=$(".gro").slice(0,1).hide();
$("#load-more2").click(function() {

     $gro.toggle(':hidden').addClass('active');

    
}
);
$(document).ready(function(e) {
    $(".group").click(function() {
        if (this.checked) {
           $("#bu").click();
        } else {
             $("#bu").click();}
    });
});
$(document).ready(function(e) {
    $(".gro").click(function() {
        if (this.checked) {
           $("#bu").click();
        } else {
             $("#bu").click();}
    });
});
$(document).ready(function(e) {
    $(".grop").click(function() {
        if (this.checked) {
           $("#bu").click();
        } else {
             $("#bu").click();}
    });
});
</script>
