<p id="notice"><%= notice %></p>
<div class="col-lg-3">
          
          <div class="list-group">
           <img src="/<%=@student.Image%>" width = 200 height = 200 class ="img-circle">
          <br><br>
<button type="button" class="btn btn-secondary"> <%= link_to 'Edit', edit_student_path(@student) %> </button>
<button type="button" class="btn btn-secondary"> <%= link_to 'Back', students_path %></button></div>
        </div>
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Admission number:</strong>
  <%= @student.admission_number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @student.department %>
</p>

<p>
  <strong>Year of admission:</strong>
  <%= @student.year_of_admission %>
</p>

<p>
  <strong>Year of completion:</strong>
  <%= @student.year_of_completion %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.DOB %>
</p>


