<% if @attendences.size == 0 %>
  <p>Sorry, no attendence has been filled for this student</p>
  <p><%= link_to 'Create new attendence', new_attendence_path %></p>
<% else %>
  <p class='header'>Student's attendences</p>
  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <% @attendences.each do|attendence| %>
        <tr>
          <td>
            <%= attendence.student.try(:full_name)%>
          </td>
          <td><%= attendence.updated_at.to_date.strftime("%d/%m/%Y") %></td>
          <td>
            <%= attendence.status %>
          
          </td>
          <td><%= link_to 'Take register', new_attendence_path %>
         
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
